<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>

    <table>
        <colgroup>
            <col span="3" style="background:Khaki">
            <col style="background-color:LightCyan">
        </colgroup>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">Morgan</td>
            <td th:text="${user.lastName}">Freemen</td>
            <td th:text="${user.age}">67</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.roles}">role</td>
            <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
            <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form></td>
        </tr>
    </table>

    <a href="/admin/new">Create new user</a>

    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>

</div>
</body>
</html>