<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <lable for="name">Enter name:</lable>
  <input type="text" th:field="*{name}" id="name"/>
  </br>

  <lable for="lastName">Enter last name:</lable>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  </br>

  <lable for="age">Enter age:</lable>
  <input type="text" th:field="*{age}" id="age"/>
  </br>

  <lable for="emai">Enter email:</lable>
  <input type="text" th:field="*{email}" id="email"/>
  </br>

  <lable for="password">Enter password:</lable>
  <input type="text" th:field="*{password}" id="password"/>
  </br>

<!--  <lable for="roles">Enter role:</lable>-->
<!--  <input type="text" th:field="${user.addRole()}" id="roles"/>-->

  <br/>
  <input type="submit" value="Create"/>

</form>

<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>